body {
    background-color: rgb(26, 25, 25);
}

.date {
    font-family: 'Beon', sans-serif;
    font-size: 50px;
}

.city {
    font-family: 'Beon', sans-serif;
    font-size: 50px;
}

div {
    height: 100px;
    width: 1000px;
    margin: 400px;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: 'DS-DIGI', sans-serif;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 200px;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #fc90c6, 0 0 10px #fc90c6, 0 0 15px #fc90c6;
}

p {
    margin: 20px;
}
