* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 30px;

  justify-content: center;
  align-items: center;
}

.clock {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: courier, monospace;
  text-align: center;
  color: white;
  background-color: #e8dbc5;
  font-size: 50px;
  padding: 10px;
}

.seattle {
  background-color: #b185a7;
}

.toronto {
  background-color: #545f66;
}
.accra {
  background-color: #37123c;
}

.tokyo {
  background-color: #b1cc74;
}
